.searchContainer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .searchInput {
    margin-right: 8px;
    width: 200px;
  }
  
  .searchButton {
    margin-right: 8px;
  }
  .leftButton {
    margin-left: 20px;
  }