

.logo {
   height: 64px; /* Adjust height as needed */
   margin-top: 20px;
   align-items: center;
   margin-left: 15px;
   margin-bottom: 20px; /* Adjust the margin to create space between logo and sidebar items */
 }
/* .App {
    height: 100%;
    margin: 0;
    padding: 0;
} */
.App{
    display: flex;
    justify-content: space-between;
  
   min-height: 100vh;
 
    
}
/* Scrollbar styles */
::-webkit-scrollbar {
 width: 9px;

}

::-webkit-scrollbar-track {
 background: #f1f1f1;
 border-radius: 5px;
}

::-webkit-scrollbar-thumb {
 background: #444; /* Dark gray color */
 border-radius: 5px;
 transition: background 0.7s ease-in-out; /* Add transition for smoother color change */
}

::-webkit-scrollbar-thumb:hover {
 background: #333; /* Slightly darker shade on hover */
 transition: background 0.7s ease-in-out; /* Add transition for smoother color change */
}

/* Smooth scrolling */
html {
 scroll-behavior: smooth;
}

/* Animation for content */
@keyframes fadeIn {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
 }
}


/* .AppHeader{

   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 4px 20px 4px 12px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.15);
} */
/* .AppFooter{
height: 50px;
display: flex;
justify-content: space-evenly;
align-items: center;
border-top: 1px solid rgba(0, 0, 0, 0.15);
text-align: center;

} */
/* .SideMenuAndPageContent{
   display: flex;
   flex: 1;
   justify-content: flex-start;
   align-items: flex-start;
   background-color: rgba(0, 0, 0, 0.05) ;
  
}
.SideMenu{
   height: 100%;
   margin-bottom: 16%;
   
}
.SideMenuVertical{
   height: 100%;
   
}
.PageContent{
   padding-left: 12px;
   margin: 24px 16px;
           padding-bottom: 20%;
           padding-left: 20%;
           min-height:50%;
           
}  */