.voir-monument-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .image-carousel {
    max-height: 400px;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  