.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .submit-button {
    width: 100%;
  }
  .form-title {
    font-weight: bold;
    text-align: center; /* Centrer horizontalement */
  }